In [94]:
import pandas as pd
import numpy as np

In [95]:
confirmed = pd.read_csv('./US_State_Confirmed.csv')
deaths = pd.read_csv('./US_State_Deaths.csv')
# recovered = pd.read_csv('./US_State_Recovered.csv')

In [96]:
confirmed["fips"] = confirmed.fips.map("{:02}".format)
confirmed['dcid'] = 'geoId/' + confirmed['fips'].astype(str)

confirmed = confirmed.drop(['fips', 'NAME', 'POP70', 'HHD70', 'POP80', 'HHD80', 'POP90', 'HHD90', 'POP00', 'HHD00', 'POP10', 'HHD10'], axis=1)
confirmed = confirmed.set_index("dcid")

confirmed.head()

,2020-01-21,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31,2020-06-01
dcid,,,,,,,,,,,,,,,,,,,,,
geoId/01,0,0,0,0,0,0,0,0,0,0,...,14149,14478,14986,15650,16032,16530,17031,17359,17952,18534
geoId/02,0,0,0,0,0,0,0,0,0,0,...,409,409,412,416,417,430,436,441,469,476
geoId/04,0,0,0,0,0,1,1,1,1,1,...,16040,16339,16561,16783,17262,17763,18465,19255,19936,20123
geoId/05,0,0,0,0,0,0,0,0,0,0,...,5775,5922,6029,6180,6277,6538,6777,7013,7253,7443
geoId/06,0,0,0,0,1,2,2,2,2,2,...,92815,94743,97017,99925,101874,104071,107043,110100,113114,115643

In [97]:
deaths["fips"] = deaths.fips.map("{:02}".format)
deaths['dcid'] = 'geoId/' + deaths['fips'].astype(str)

deaths = deaths.drop(['fips', 'NAME', 'POP70', 'HHD70', 'POP80', 'HHD80', 'POP90', 'HHD90', 'POP00', 'HHD00', 'POP10', 'HHD10'], axis=1)
deaths = deaths.set_index("dcid")

deaths.head()

,2020-01-21,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31,2020-06-01
dcid,,,,,,,,,,,,,,,,,,,,,
geoId/01,0,0,0,0,0,0,0,0,0,0,...,549,551,566,580,583,591,610,618,630,646
geoId/02,0,0,0,0,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
geoId/04,0,0,0,0,0,0,0,0,0,0,...,799,800,806,807,831,857,885,903,906,918
geoId/05,0,0,0,0,0,0,0,0,0,0,...,115,116,117,119,120,125,132,133,133,133
geoId/06,0,0,0,0,0,0,0,0,0,0,...,3768,3790,3808,3859,3961,4042,4144,4214,4242,4287

In [98]:
# recovered["fips"] = recovered.STATE.map("{:02}".format)
# recovered['dcid'] = 'geoId/' + recovered['fips'].astype(str)

# recovered = recovered.drop(['fips', 'NAME', 'POP70', 'HHD70', 'POP80', 'HHD80', 'POP90', 'HHD90', 'POP00', 'HHD00', 'POP10', 'HHD10'], axis=1)

# recovered = recovered.set_index("dcid")

# recovered.head()

In [90]:
new_df = pd.DataFrame({})
for dcid in confirmed.index:
    for date in confirmed:
        try:
            confirmed_val = confirmed[date][dcid]
        except:
            confirmed_val = np.nan

        try:
            deaths_val = deaths[date][dcid]
        except:
            deaths_val = np.nan

        # try:
        #     recovered_val = recovered[date][dcid]
        # except:
        #     recovered_val = np.nan

        new_df = new_df.append({
            "Date": date,
            "GeoId": dcid,
            "COVID19CumulativeCases": confirmed_val,
            "COVID19CumulativeDeaths": deaths_val
            },
        ignore_index=True)
export_df = new_df

In [91]:
export_df.to_csv("./State_COVID_Harvard.csv")

In [93]:
recovered.head()

,STATE,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
dcid,,,,,,,,,,,,,,,,,,,,,
geoId/01,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
geoId/02,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
geoId/04,4,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
geoId/05,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
geoId/06,6,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,0,0,0,0,0